<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File uploader</title>
</head>
<body>
    <header>
        <%- include('./partials/header') %>
    </header>
    <main>
        <div class="fileContents">
            <ul>
                <li>file name: <%= file.file_name%></li>
                <li>file extension:<%= file.file_extension%></li>
                <li>file size: <%= file.file_size%></li>
                <li>file created: <%= file.date_created%></li>
                <li>Owner: <%= file.owner.name %> </li>
            </ul>
            <div class="filePreview">
                <% if(file.previewableExt.includes(file.file_extension)){ %>
                    <img src="<%= file.file_url%>" alt="file preview">
                <% } else { %>
                    <img src="/assets/draft_24dp_000000_FILL0_wght400_GRAD0_opsz24.svg" alt="stock file img">
                <% } %>
            </div>
            <div>
                <span>download ?</span>
                <a href="/file/download/<%= file.id%>">Click here</a>
            </div>
        </div>
    </main>
    <footer>

    </footer>

</body>
</html>