<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File uploader</title>
</head>
<body>
    <header>
        <%- include('./partials/header') %>
    </header>
    <main>
        <form action="/folder/<%= folder.id %>" method="post">
            <input type="text" name="folderName" id="folderName" value="<%= folder.folder_name %>">
            <button type="submit">update</button>
        </form>
        // function here that will generate all files

        <div>
            <h4>Add Files</h4>
            <a href="/upload/<%= folder.id %>">+</a>
        </div>

        <div>
            <h5>Danger!</h5>
            <form action="/folder/delete/<%= folder.id %>" method="post">
                <label for="deleteButton">Delete folder and all contents?</label>
                <button>Delete</button>
            </form>

        </div>
    </main>
    <footer>

    </footer>

</body>
</html>